body {
    background-color: rgb(19, 41, 61);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.box {
    border: solid;
    height: 1300px;
    width: 1100px;
    background-color: rgb(232, 241, 242);
}


.meunome {
    text-align: center;
    font-size: 50px;
    
}

.nascimento {
    position: relative;
    left: 170px;
}

.curso {
    text-align: center;
    font-size: 50px;
}

.endereco {
    text-align: center;
    font-size: 50px;
}

.formacao {
    text-align: center;
    font-size: 50px;
}

.experiencia {
    text-align: center;
    font-size: 50px;
}

.contato {
    text-align: center;
    font-size: 50px;
}

.li {
    font-size: 24px;
}

.b1 { /*caixa nome*/
    border: solid ;
    border-width: 5px;
    border-color: rgb(19, 41, 61);
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
    width: 85%;
    position: relative;
    left: 7%;
    
}

.b2 { /*caixa curso*/
    border: solid ;
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(19, 41, 61);
    width: 200px;
    position: relative;
    top: 15px;
    left: 75px;
    height: 900px;
}

.b3 { /*caixa endereço*/
    border: solid ;
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(19, 41, 61);
    width: 660px;
    position: relative;
    top: -895px;
    left: 350px;
    
    
}

.b4 { /*caixa formação*/
    border: solid ;
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(19, 41, 61);
    width: 660px;
    position: relative;
    left: 350px;
    top: -850px;
}

.b5 { /*caixa experiencia*/
    border: solid ;
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(19, 41, 61);
    width: 660px;
    position: relative;
    left: 350px;
    top: -830px;
}

.b6 { /*caixa contato*/
    border: solid ;
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(19, 41, 61);
    width: 660px;
    position: relative;
    left: 350px;
    top: -810px;
}

.botao  {
    border-radius: 50%;
    border-width: 5px;
    width: 80px;
    height: 80px;
    border-color: rgb(19, 41, 61);
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 500px;
    top: -800px;
    cursor: pointer;
}



