body {
    background-color: rgb(19, 41, 61);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

main {
    border: solid;
    height: 1200px;
    width: 1100px;
    background-color: rgb(232, 241, 242);
}

h1 {
    text-align: center;
    font-size: 50px;
}

p {
    position: relative;
    left: 130px;
}

li {
    font-size: 20px;
}

header {
    border: solid;
    border-width: 5px;
    border-color: rgb(19, 41, 61);
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    width: 900px;
    margin-left: 95px;
}



section {
    border: solid;
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(19, 41, 61);
    width: 200px;
    height: 900px;
    margin-top: 15px;
    margin-left: 95px;
}

aside {
    margin-left: 320px;
    position: relative;
    bottom: 900px;
}

.endereco {
    border: solid;
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(19, 41, 61);
    width: 660px;
    height: 200px;
    margin-bottom: 10px;
    margin-top: -9px;
}

.formacao {
    border: solid;
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(19, 41, 61);
    width: 660px;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 9px;
}

.experiencia {
    border: solid;
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(19, 41, 61);
    width: 660px;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 19px;
}

.contato {
    border: solid;
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(19, 41, 61);
    width: 660px;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 40px;
}

button {
    border-radius: 50%;
    border-width: 5px;
    width: 80px;
    height: 80px;
    border-color: rgb(19, 41, 61);
    background-color: rgb(255, 255, 255);
    margin-left: 180px;
    margin-right: 180px;
    cursor: pointer;
}